.container_MP{
    z-index: 1;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.container_MP .search{
    background-image: linear-gradient(to right, rgba(31, 64, 55, 0.92) ,rgba(28, 110, 90, 0.92) ), url('https://images.pexels.com/photos/592753/pexels-photo-592753.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center;
    background-size: cover;
    max-width:100vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 9rem;
    text-align: center;
}

.container_MP .search .content:first-child{
    padding-bottom: 2rem;
}


.container_MP .search .content h1{
    font-size: 4.6rem;
}

.container_MP .search .content h2{
    font-size: 2.5rem;
}

.container_MP .search .content form{
    margin-top: 3rem;
    padding-bottom: 5rem;

}

.container_MP .search .content form .container_submit{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container_MP .search .content form .container_submit:first-child{
    margin-bottom: 2rem;
}

.container_MP .search .content form .container_submit input{
    height: 4rem;
    border-radius: 7rem;
    background-color: #101c19cc;
    border: none;
    font-family: inherit;
    font-size: 2.5rem;
    color: #ffffff;
    padding: 1rem 2rem;
    cursor: auto;
    
}

/* hide the default arrow from the website */
/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


.container_MP .search .content form .container_submit input:focus{
    outline: none;
    box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.3);
}

.container_MP .search .content form .container_submit .location_input{
    width: 36rem;
    padding-left: 5rem;
}

.container_MP .search .content form .container_submit .day_input{
    width: 26rem;
    margin-right: 3rem;
}

.container_MP .search .content form .container_submit .icon_search{
    width: 2rem;
    height: 2rem;
    transform: translateX(3.5rem);
    filter: invert(45%);
}

.container_MP .search .content form .container_submit .btn_submit{
    border: none;
    background: none;
    cursor: pointer;
}

.container_MP .search .content form .container_submit .btn_submit .icon_go{
    width: 7rem;
    cursor: pointer;
    filter: invert(100%);

}

.container_MP .search .content form .container_submit .icon_go:hover{   
    filter: invert(0%);

}

.container_MP .trend{
    background-image: linear-gradient(to right, rgba(31, 64, 55, 0.92) ,rgba(28, 110, 90, 0.92) ), url('https://images.unsplash.com/photo-1498354178607-a79df2916198?q=80&w=1376&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-position: center;
    max-width:100vw;
    padding-top: 7rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
}

.container_MP .trend .title{
    font-weight: bold;
    font-size: 4.2rem;
    padding-bottom: 1.5rem;

}

.container_MP .trend .subTitle{
    font-size: 2.3rem;
    padding-bottom: 6rem;
}

.container_MP .trend .loading{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(120) opacity(0.1) ;
}

.container_MP .trend .container_trend{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
    margin-bottom: 3rem;
    z-index: 0;
}

.container_MP .trend .left{
    flex-direction: row;
}

.container_MP .trend .right{
    flex-direction: row-reverse;
}

.container_MP .trend .container_trend .container_img_and_number{
    display: flex;
    flex-direction: column;
}

.container_MP .trend .container_trend .container_img_and_number .container_number{
    width: 5rem;
    height: 5rem;
    background-color: rgba(255, 255, 255,0.9);
    border-radius: 15rem;
    text-align: center;
    transform: translateX(-4.5rem) translateY(0.5rem);
}

.container_MP .trend .container_trend .container_img_and_number .container_number .number{
    color: #0f0f0f;
    font-size: 6rem;
    font-weight: 500;
    transform: translateY(-3rem)  translateX(-0.4rem);
}

.container_MP .trend .container_trend .container_img_and_number .container_img{
    display: flex;
    flex-direction: column;
}

.container_MP .trend .left .container_img_and_number .container_img{
    padding-right: 3rem;
}

.container_MP .trend .right .container_img_and_number .container_img{
    padding-left: 3rem;
}


.container_MP .trend .container_trend .container_img_and_number .container_img .img_location{
    width: 20rem;
    border-radius: 2rem 2rem 0rem 0rem;
}

.container_MP .trend .container_trend .container_img_and_number .container_img .aligment{
    align-self: center;
    text-align: end;
}

.container_MP .trend .container_trend .container_img_and_number .container_img .aligment .name_location{
    font-size: 3.5rem;
    color: #2ECC71;
    font-weight: 500;
    transform: translateY(-2rem);
    text-shadow: .2rem .2rem .5rem rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
}

.container_MP .trend .container_trend .container_img_and_number .container_img .aligment .container_days{
    display: flex;
    flex-direction: row;
    align-items: center;
    transform: translateY(-2.6rem);
}

.container_MP .trend .container_trend .container_img_and_number .container_img .aligment .container_days .number_days{
    font-size: 2.5rem;
    font-weight: 500;
    padding: 0rem 1rem;
}

.container_MP .trend .container_trend .container_img_and_number .container_img .aligment .container_days .icon{
    font-size: 2.5rem;
    font-weight: 800;
    cursor: pointer;
    transition: .5s;
}

.container_MP .trend .container_trend .container_img_and_number .container_img .aligment .container_days .icon:hover{
    color: #2ECC71;
    text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.3);
}

.container_MP .trend .container_trend .description{
    font-size: 2rem;
    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
}

/* phone resolution desine */
@media (max-width:700px){

    .container_MP .search .content h1{
        font-size: 6.6rem;
    }
    
    .container_MP .search .content h2{
        font-size: 3rem;
    }

    .container_MP .search .content form .container_submit .location_input{
        width: 56rem;
    }

    .container_MP .search .content form .container_submit .day_input{
        width: 46rem;
    }

    .container_MP .trend .container_trend{
        flex-direction: column;
        margin-bottom: 10rem;
    }

    .container_MP .trend .left .container_img_and_number .container_img{
        padding-right: 0rem;
    }
    
    .container_MP .trend .right .container_img_and_number .container_img{
        padding-left: 0rem;
    }

    .container_MP .trend .container_trend .container_img_and_number .container_img .img_location{
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
    }

    .container_MP .trend .container_trend .container_img_and_number .container_img .aligment .name_location{
        font-size: 6.5rem;
        transform: translateY(-5rem);
    }

    
    .container_MP .trend .container_trend .container_img_and_number .container_img .aligment .container_days .number_days{
        font-size: 5.5rem;
        transform: translateY(-4rem);
    }

    .container_MP .trend .container_trend .container_img_and_number .container_img .aligment .container_days .icon{
        font-size: 4.5rem;
        transform: translateY(-4rem);
    }
    
    .container_MP .trend .container_trend .description{
        font-size: 3rem;
        width: 50vw;
    }

}

@media (max-width:650px){

    .container_MP .search .content h1{
        font-size: 5.6rem;
    }
    
    .container_MP .search .content h2{
        font-size: 2.5rem;
    }
}

@media (max-width:550px){

    .container_MP .search .content h1{
        font-size: 5rem;
    }

    .container_MP .trend .container_trend .container_img_and_number .container_img .img_location{
        width: 60vw;
    }

    .container_MP .trend .container_trend .description{
        width: 70vw;
    }
    
}

@media (max-width:450px){

    .container_MP .search .content form .container_submit .location_input{
        width: 46rem;
    }

    .container_MP .search .content form .container_submit .day_input{
        width: 36rem;
    }
}

@media (max-width:410px){

    .container_MP .search .content h1{
        font-size: 4rem;
    }
    
    .container_MP .search .content h2{
        font-size: 2.5rem;
    }

    .container_MP .search .content form .container_submit .location_input{
        width: 36rem;
    }

    .container_MP .search .content form .container_submit .day_input{
        width: 26rem;
    }

    .container_MP .trend .container_trend .container_img_and_number .container_img .aligment .name_location{
        font-size: 5.5rem;
        transform: translateY(-4rem);
    }
    
    .container_MP .trend .container_trend .container_img_and_number .container_img .aligment .container_days .number_days{
        font-size: 4.5rem;
        transform: translateY(-2.6rem);
    }

    .container_MP .trend .container_trend .container_img_and_number .container_img .aligment .container_days .icon{
 
        transform: translateY(-2.6rem);
    }

}


@media (max-width:325px){

    .container_MP .search .content h1{
        font-size: 3rem;
    }
    
    .container_MP .search .content h2{
        font-size: 2rem;
    }

    .container_MP .search .content form .container_submit .location_input{
        width: 26rem;
    }

    .container_MP .search .content form .container_submit .day_input{
        width: 16rem;
    }

    .container_MP .trend .title{
        font-size: 3.2rem;
    }

    .container_MP .trend .subTitle{
        font-size: 2rem;
    }
}