.nav_bar{
   width: 80%;
   height: 75px;
   margin-left: 10%; 
   background-color: #1f4037cc ;
   border-radius: 0px 0px 65px 65px;
}

.nav_bar .container_nav_bar{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    font-size: 56px;
    color: #ffffff;
    justify-content: space-between;
    height: 100%;
}

.nav_bar .container_nav_bar li:first-child{
    margin-left: 5%;
}

.nav_bar .container_nav_bar li{
    display: initial;
    padding-right: 10%;
    border-right: 3px solid #ffffff;
    height: 100%;
    transition: 1s;
}

.nav_bar .container_nav_bar li:last-child{
   border-right: none;
}

.nav_bar .container_nav_bar li:hover{
    cursor: pointer;
}

.nav_bar .container_nav_bar li img{
    width: 55px; 
}

.nav_bar .container_nav_bar li .logo{
    border-radius: 100%;
}

.nav_bar .container_nav_bar li .href_text:hover{
    color: #2ECC71;
    text-shadow: 3px 3px 5px #0000004f;   
}