.nav_bar{
    width: 80vw;
    min-height: 5rem;
    margin-left: 10%; 
    background-color: #1f4037cc ;
    border-radius: 0px 0px 65px 65px;
    position:  fixed  ;
    z-index: 3;
    
}

.nav_bar .container_nav_bar{
    display: flex;
    flex-direction: row;
    font-size: 4rem;
    color: #ffffff;
    justify-content: center;
    height: 100%;
    padding: 0;
}


.nav_bar .container_nav_bar li{
    display: initial;
    padding-right: 5rem;
    padding-left: 5rem;
    border-right: 3px solid #ffffff;
    height: 5rem;
}

.nav_bar .container_nav_bar li:last-child{
   border-right: none;
}

.nav_bar .container_nav_bar li img:hover, .nav_bar .container_nav_bar li .href_text:hover{
    cursor: pointer;
    scale: 1.05;
}

.nav_bar .container_nav_bar li img{
    width: 1em; 
    transition: .5s;
}

.nav_bar .container_nav_bar li .logo_img, .nav_bar .container_nav_bar li .login_img{
    border-radius: 50%;
    padding-top: 0.1em;
}

.nav_bar .container_nav_bar li .logo_img:hover, .nav_bar .container_nav_bar li .login_img:hover{
    box-shadow: 2px 2px 8px #00000071; 
}

.nav_bar .container_nav_bar li .href_text{
    color: #ffffff;
    text-decoration: none;
    transition: .5s;
}

.nav_bar .container_nav_bar li .href_text:hover{
    color: #2ECC71;
    text-shadow: 2px 2px 8px #00000071;   
}

@media (min-width: 4042px) {
    :root{
        font-size: 55px;
    }
    
}


@media (max-width: 4041px) {
    :root{
        font-size: 38px;
    }
    
}

@media (max-width: 3040px) {
    :root{
        font-size: 29px;
    }
    
}

@media (max-width: 2200px) {
    :root{
        font-size: 26px;
    }
    
}

@media (max-width: 2000px) {
    :root{
        font-size: 24px;
    }
    
}

@media (max-width: 1800px) {
    :root{
        font-size: 21px;
    }
    
}

@media (max-width: 1600px) {
    :root{
        font-size: 18px;
    }
    
}

@media (max-width: 1400px) {
    :root{
        font-size: 16px;
    }
    
}

@media (max-width: 1260px) {
    :root{
        font-size: 14px;
    }
    
}

@media (max-width: 1160px) {
    :root{
        font-size: 12px;
    }
    
}

@media (max-width: 1000px) {
    :root{
        font-size: 10px;
    }
    
}

@media (max-width: 850px) {
    :root{
        font-size: 8px;
    }
    
}

/* phone resolution desine */
@media (max-width: 700px) {
    :root{
        font-size: 7px;
    }

    .nav_bar{
        max-width: 45vw;
        min-height: 100vh; 
        /* TODO repaire the height to fit to the phone */
        border-radius: 0px 10px 10px 0px;
        margin-left: 0;
        transition: .2s cubic-bezier(1,.96,1,.45);
    }


    .clicked_btn{
        transform: translateX(32vw);
    }

    .nav_bar .container_nav_bar{
        display: flex;
        flex-direction: column;
        font-size: 7rem;
        color: #ffffff;
        justify-content: center;
        padding-top: 10rem;
        /* width: 80vw; */
        
    }

    .nav_bar .container_nav_bar li{

        padding-right: 0rem;
        padding-left: 8rem;
        border-right:none;
        border-top: 3px solid #ffffff;
        height: 10rem;
        padding-top: 2rem;
        /* width:46% */
        
    }

    .nav_bar .container_nav_bar li:first-child{
        padding-bottom: 3rem;
    }

    .nav_bar .container_nav_bar li img{
        width: 9rem; 
    }

    .hiden_nav_bar{
        opacity: 0;
        transform: translateX(-45vw);
    }

    .show_unshow_navbar{
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.75);
        width: 8rem;
        height: 8rem;
        margin-top: 1rem ;
        margin-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: fixed;
        z-index: 4;
    }
    
    .show_unshow_navbar .clicked:first-child{
        transform: rotate(45deg) translateY(.9rem) translateX(1rem)
        
    }
    
    .show_unshow_navbar .clicked{
        transform: rotate(-45deg);
    }
    
    .show_unshow_navbar .line{
        width: 4.5rem;
        height: .6rem;
        background-color: #1f4037cc;
        margin-bottom: 0.8rem ;
        transition: .5s cubic-bezier(.68,-0.55,.27,1.55);
    
    }
    
    .show_unshow_navbar .line:last-child{
        margin-bottom:0rem;
    }

    /* TODO .right and left dont work fix it */

}

@media (max-width: 550px){
    .nav_bar{
        max-width: 55vw;
    }

    .hiden_nav_bar{
        transform: translateX(-55vw);
    }

    .clicked_btn{
        transform: translateX(40vw);
    }
}


@media (max-width: 450px){
    .nav_bar{
        max-width: 65vw;
    }

    .hiden_nav_bar{
        transform: translateX(-65vw);
    }

    .clicked_btn{
        transform: translateX(45vw);
    }
}

@media (max-width: 360px){
    .nav_bar{
        max-width: 85vw;
    }

    .hiden_nav_bar{
        transform: translateX(-85vw);
    }

    .clicked_btn{
        transform: translateX(55vw);
    }
}
